
textarea{
	widtform{
	border: solid 1px;
	width: 650px;
	margin-left: 200px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: yellow;
	padding-bottom: 20px;


}
h1{
text-align: center;
font-size: 50px;
color: navy;
}
p{
	font-size: 20px;
}
label{
	font-size: 23px;
	color: navy;
	font-weight: bold;
}
input{
	width: 400px;
	height: 35px;
	background-color: #eba834;
	border-width: 1px;
	font-size: 20px;

}h: 400px;
	height: 100px;
	background-color: #eba834;
	font-size: 10px;



}
button{
	width: 150px;
	height: 60px;
	border-radius: 15px;
	background-color: navy;
	color: white;
	font-size: 28px;
}
body{
	background-color: #eba834
}





textarea{
	widtform{
	border: solid 1px;
	width: 650px;
	margin-left: 200px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: yellow;
	padding-bottom: 20px;


}
h1{
text-align: center;
font-size: 50px;
color: navy;
}
p{
	font-size: 20px;
}
label{
	font-size: 23px;
	color: navy;
	font-weight: bold;
}
input{
	width: 400px;
	height: 35px;
	background-color: #eba834;
	border-width: 1px;
	font-size: 20px;

}h: 400px;
	height: 100px;
	background-color: #eba834;
	font-size: 10px;



}
button{
	width: 150px;
	height: 60px;
	border-radius: 15px;
	background-color: navy;
	color: white;
	font-size: 28px;
}
body{
	background-color: #eba834
}




